<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Detail</title>
</head>
<body>
  <div id="banner">
    <h1 id = "title">DigiScape</h1>
    <p id = "subtitle">
      Celebrating artistry and imagination through inspiring digital media.
    </p>
  </div>
  {{{body}}}
</body>
</html>